extends layouts/default

append head
  link(rel='stylesheet' href=require('../styles/styles.scss'))

append script
  script(src=require('./index.js') type='text/javascript')

block headline
  h1 Index

block content
  div.dataTable
